{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color:black;
  color:white;
}

.fa-facebook:hover {
  background: #3B5998;
  color: white;
}
.fa-twitter:hover  {
  background: #55ACEE;
  color: white;
}

.fa-linkedin:hover  {
  background: #007bb5;
  color: white;
}

.fa-instagram:hover {
  background: #125688;
  color: white;
}

</style>

<div class="container-fluid"> 
    <div class="paddingAboutUs marginAboutUs" id="aboutUs">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://github.com/anshrathod/image/blob/master/mypic2.jpg?raw=true">
                    <div class="card-body">
                        <h4 class="card-title">Ansh Rathod</h4>
                        <p class="card-text">I am a Third Year Computer Engineering undergraduate studying at <strong>K.J. Somaiya College of Engineering</strong> and have always been fascinated by emerging technology and the ever-changing universe. <strong>Mathematics</strong> and <strong>Computer Science</strong> excite me, and I am constantly in search of a new challenge to satiate my brain.</p>
                        <div class="row">
                            <a href="#" class="col-2 ml-4 mr-3 p-2 fa fa-facebook"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-twitter"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-linkedin"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://github.com/anshrathod/image/blob/master/ronaldo.jpg?raw=true">
                    <div class="card-body">
                        <h4 class="card-title">Meet Shah</h4>
                        <p class="card-text">I am a Third Year Computer Engineering undergraduate studying at <strong>K.J. Somaiya College of Engineering</strong> and have always been fascinated by emerging technology and the ever-changing universe. <strong>Mathematics</strong> and <strong>Computer Science</strong> excite me, and I am constantly in search of a new challenge to satiate my brain.</p>
                        <div class="row">
                            <a href="#" class="col-2 ml-4 mr-3 p-2 fa fa-facebook"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-twitter"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-linkedin"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://github.com/anshrathod/image/blob/master/pink.jpg?raw=true">
                    <div class="card-body">
                        <h4 class="card-title">Nisarg Shah</h4>
                        <p class="card-text">I am a Third Year Computer Engineering undergraduate studying at <strong>K.J. Somaiya College of Engineering</strong> and have always been fascinated by emerging technology and the ever-changing universe. <strong>Mathematics</strong> and <strong>Computer Science</strong> excite me, and I am constantly in search of a new challenge to satiate my brain.</p>
                        <div class="row">
                            <a href="#" class="col-2 ml-4 mr-3 p-2 fa fa-facebook"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-twitter"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-linkedin"></a>
                            <a href="#" class="col-2 mr-3 p-2 fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}