{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-3 mt-3">
			<div class="card" style="padding: 5%;"><p class="text text-center" style="font-size:125%;">Applied Jobs<hr></p>
				{% for i,j,k in appliedjobs %}
				<h3 href="Company link">{{i}}</h3>
				<p>{{j}}</p>
				<p>{{k}}</p>
				<hr>
				{% endfor %}
			</div>
		</div>
	    <div class="col-md-6 mt-3">
		    <div class="content-section"style="padding: 5%;">
			  	<div class="row media">
					<img class="col-md-4 rounded-circle account-img" src="{{ image_file }}">
					<div class="col-md-6 media-body">
					<h2 class="account-heading">{{ username }}</h2>
					<p class="text-secondary">{{ email }}</p>
					<form method="GET" action="/profile/update/">
					<button class="btn btn-dark btn-block">Update Profile</button>
					</form>
					</div>
			  	</div>
			  	<hr>
				<br>
				<div class="col-md-12 row">
					<div class="col-md-3 mt-3"><p style="font-size: 150%">Skills</p></div>
					<div class="col-md-9">
					{% for i in skills %}
						<button class="btn btn-outline-info" style="margin:2%" disabled>{{ i }}</button>
					{% endfor %}
					<!-- Material form subscription -->
						<form class="text-center" style="color: #757575;" method='POST' action="/addskill/">
						<div class="row">
							<div class="col-5 md-form">
								<input type="text" name="AddaSkill" id="AddaSkill" class="form-control">
								<label for="AddaSkill">Add a Skill</label>
							</div>
							<div class="col-7 mt-2">
								<button class="btn btn-info z-depth-0 waves-effect" type="submit">Add Skill</button>
							</div>
						</div>
						</form>					
					</div>
				</div>
				<br>
		    </div>
		</div>
		<div class="col-md-3 mt-3">
			<div class="card" style="padding: 5%"><p class="text text-center" style="font-size:125%;">Add a new Job</p>
			<hr>
			<form method="POST">
				 <div class="form-group">
				    <input type="text" name="company" class="form-control" id="CompanyName" aria-describedby="Comapny" placeholder="Company Name">
				  </div>
				  <div class="form-group">
				    <input type="text" name="position" class="form-control" id="JobPosition" placeholder="My Position">
				  </div>
				  <div class="form-group">From Date
				  	<input class="form-control" name="fromdate" type="date" placeholder="" id="FromDate">
				  </div>
				  <div class="form-group">To Date
				  	<input class="form-control" name="todate" type="date" value="To Date" id="ToDate">
				  </div>
				  <button type="submit" class="btn btn-success">Submit</button>
			</form>
			</div>
			{% for i,j,k,l in myjobs %}
				<div class="card" style="margin-top:5%;padding: 5%">
					<h5>{{ i }}</h5>
					<p>{{ j }}</p>
					<p>{{ k }} - {{ l }}</p>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock content %}
