<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
        <div class="container">
            <a class="navbar-brand" style="font-family:'Fjalla One', sans-serif;"href="/">Recruiter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</head>
<body style="background-color: #eee;">
<style type="text/css">
	.card{
		background-color: #ddd;
		padding: 3%;
		margin: 1%;
	}
</style>
<div class="containe">
	<div class="row" style="margin: 1%;">
		<div class="col-md-3">
			<div class="card">
				<p class="text-center"style="font-size: 150%">Applied Jobs</p>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
				<hr><div>
					<p>Company Name</p>
					<p>Position</p>
					<p>Result</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card" style="background-color: #ddd;">
				<div class="row">
					<div class="col-md-6">
					<img class="img img-thumbnail"src="https://banner2.kisspng.com/20180626/fhs/kisspng-avatar-user-computer-icons-software-developer-5b327cc98b5780.5684824215300354015708.jpg"style="max-height: 100%;max-width: 100%">
					</div>
					<div class="col-md-6 text text-decoraion" >Ansh Rathod
						<p class="text text-muted">My Current Post</p>
						<p class="text text-muted">My Education</p><hr>
						<button class="btn btn-dark btn-block">Update Profile</button>
					</div>
					<div class="col-md-12"><hr></div>
					<div class="col-md-12 row" style="margin-left: 4%;">
						<div class="col-md-3"><p style="font-size: 150%">Interests</p></div>
						<div class="col-md-9">
							<button class="btn btn-outline-info" style="margin:2%">Full Stack</button>
							<button class="btn btn-outline-info" style="margin:2%">UI</button>
							<button class="btn btn-outline-info" style="margin:2%">Python</button>
							<button class="btn btn-outline-info" style="margin:2%">Django</button>

							<button class="btn btn-outline-info" style="margin:2%">UX</button>
							<button class="btn btn-info">Add a Interest</button>
						</div>
					</div><br>
					<div class="col-md-12 row" style="margin-left: 4%">
						<div class="col-md-3"><p style="font-size: 150%">Hobbies</p></div>
						<div class="col-md-9">
							<button class="btn btn-outline-danger" style="margin:2%">Full Stack</button>
							<button class="btn btn-outline-danger" style="margin:2%">UI</button>
							<button class="btn btn-outline-danger" style="margin:2%">Python</button>
							<button class="btn btn-outline-danger" style="margin:2%">Django</button>
							<button class="btn btn-outline-danger" style="margin:2%">UX</button>
							<button class="btn btn-danger">Add a Interest</button>
						</div> 
					</div><br>
					<div class="col-md-12 row" style="margin-left: 4%">
						<div class="col-md-3"><p style="font-size: 150%;margin-left: 20%;">Skills</p></div>
						<div class="col-md-9">
							<button class="btn btn-outline-success " style="margin:2%">skill 1</button>
							<button class="btn btn-outline-success" style="margin:2%">skill 2</button>
							<button class="btn btn-outline-success" style="margin:2%">skill 3</button>
							<button class="btn btn-outline-success" style="margin:2%">skill 4</button>
							<button class="btn btn-outline-success" style="margin:2%">skill 5</button>
							<button class="btn btn-outline-success" style="margin:2%">skill 6</button>
							<button class="btn btn-success" style="margin:2%">Add a Skill</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" style="padding: 5%">Add a new Job<hr>
				 <div class="form-group">
				    <input type="text" class="form-control" id="CompanyName" aria-describedby="Comapny" placeholder="Company Name">
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control" id="JobPosition" placeholder="My Position">
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control" id="FromDate" placeholder="From Date">
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control" id="ToDate" placeholder="To Date">
				  </div>
				  <button type="submit" class="btn btn-success">Submit</button>
			</div>
			<div class="card" style="margin-top:5%;padding: 5%">My Latest Job
				<h5>Company Name</h5>
				<p>My Post</p>
				<p>FromDate-ToDate</p>
			</div>
			<div class="card" style="margin-top:5%;padding: 5%">My 2nd Last Job
				<h5>Company Name</h5>
				<p>My Post</p>
				<p>FromDate-ToDate</p>
			</div>
			<div class="card" style="margin-top:5%;padding: 5%">My 3rd Last Job
				<h5>Company Name</h5>
				<p>My Post</p>
				<p>FromDate-ToDate</p>
			</div>
			<div class="card" style="margin-top:5%;padding: 5%">My First Job
				<h5>Company Name</h5>
				<p>My Post</p>
				<p>FromDate-ToDate</p>
			</div>
		</div>

	</div>
	<br>
</div>
</body>
</html>
